
 
.icon { height: 40px; width: 40px; line-height: 40px; border-radius: 100%; color: #fff; display: inline-block; margin-bottom: 2px; }
.marker { background-color: red; color: white; position: absolute; right: 0; top: 0; margin-right: 34px; margin-top: 6px; border-radius: 10px; width: auto; min-width: 20px; height: 20px; text-align: center; line-height: 20px; font-size: 14px; font-family: "STSong"; }




